 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

 
 
 <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Ecommerce - SO-SOAP-REST</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                         
					<!-- VALIDACIÓN PARA QUE LA OPCIÓN APAREZCA SOLO PARA USUARIOS LOGUEADOS-->
					<div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
						<div th:case="${true}">
							<ul class="navbar-nav" style="float: right; width: 100px; color:rgb(0, 255, 0);">
									<i><a href="#" aria-hidden="true" th:href="@{/profile}" style="color:gray;">Perfil</a></i>

									<i> - </i>
									<i><a href="#" aria-hidden="true" th:href="@{/logout}" style="color:gray;">Logout</a></i>
							</ul>
						</div>
					</div>
                					
					<div th:unless="${#authorization.expression('isAuthenticated()')}">
	                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
	                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/iniciar">Login</a></li>
	                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/registro">Registro</a></li>
	                    </ul>
                    </div>
                    
                </div>
            </div>
        </nav>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        
        <script>
			$(document).ready(function() {
  				$('#perfil').on('click', function() {
     				document.forms["irPerfil"].submit();
  				});
			});

		</script>