html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

img{
  object-fit: cover;
  object-position: 0 30%;
}

.complete-shadow{ 
  box-shadow: 0.175rem 0.175rem rgba(0, 0, 0) !important;
}

.border-pink{
  border: 2px solid #e81f76;
}

.border-bottom-pink{
  border-bottom: 2px solid #e81f76 !important;
}

.products .card{
    margin: 10px auto;
}
.products .card-img-top{
    height: 250px;
    width: 100%;
}
.products .card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.products .card-text{
    height: 70px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}


/* --------- Detail Product ----------- */

.detail_page .img-thumbnail.active{
    border-color: orangered;
    padding: 2px;
}

/* --------- Profile ----------- */

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}

.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}

.carousel img {
  max-height: 280px !important;  /* change this to whatever you want */
  width: 100%;
  object-fit: cover;
}

.checkout .cart {
  background-color: #fff;
}

.checkout .summary {
  background-color: #ddd;
  padding: 4vh;
  color: rgb(65, 65, 65)
}

.checkout .summary .col-2 {
  padding: 0
}

.checkout .summary .col-10 {
  padding: 0
}

.checkout .row {
  margin: 0
}

.checkout .title b {
  font-size: 1.5rem
}

.checkout .main {
  margin: 0;
  padding: 2vh 0;
  width: 100%
}

.checkout .col-2, .col {
  padding: 0 1vh
}

.checkout a {
  padding: 0 1vh
}

.checkout .close {
  margin-left: auto;
  font-size: 0.7rem
}

.checkout img {
  width: 3.5rem
}

.checkout .back-to-shop {
  margin-top: 4.5rem
}

.checkout h5 {
  margin-top: 4vh
}

.checkout hr {
  margin-top: 1.25rem
}

.checkout form {
  padding: 2vh 0
}

.checkout select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

.checkout input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

.checkout input:focus::-webkit-input-placeholder {
  color: transparent
}

.btn-dark {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
  cursor: pointer;
}

.btn-dark:focus, .btn-dark:hover {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  transition: none
}

.checkout .btn:hover {
  color: white
}

.checkout a {
  color: black
}

.checkout a:hover {
  color: black;
  text-decoration: none
}

.checkout #code {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #455a64;
  padding-left: 0px;
  margin-top: 30px;
}

#progressbar li {
  list-style-type: none;
  font-size: 13px;
  width: 33%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar .step1:before,
#progressbar .step2:before,
#progressbar .step3:before,
#progressbar .step4:before {
  font-family: FontAwesome;
  content: "\f10c";
  color: #fff;
}

#progressbar li:before {
  width: 40px;
  height: 40px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  background: #c5cae9;
  border-radius: 50%;
  margin: auto;
  padding: 0px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 12px;
  background: #c5cae9;
  position: absolute;
  left: 0;
  top: 16px;
  z-index: -1;
}

#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: -50%;
}

#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after {
  left: -50%;
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  left: 50%;
}

#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #000000;
}

#progressbar li.active:before {
  font-family: FontAwesome;
  content: "\f00c";
}

.icon {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.icon-content {
  padding-bottom: 20px;
}
